cluster.name: cluster
node.name: elastic-1

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: {{ host_IP }}
transport.host: 0.0.0.0
http.port: 9200
http.host: 0.0.0.0

discovery.seed_hosts: ["{{ host_IP }}"]
cluster.initial_master_nodes: ["elastic-1"]

xpack.security.enabled: true
xpack.security.enrollment.enabled: true
xpack.security.http.ssl:
  enabled: true
  keystore.path: certs/http.p12
xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  keystore.path: certs/transport.p12
  truststore.path: certs/transport.p12
